body {
  font-family: 'Raleway', sans-serif;
  background-image: url("images/wood.jpg");
  background-size: contain;
  background-repeat:
  width: 100%;
  height: : 100%;
}


h1, h2, p{
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  word-spacing: 2px;
  color: rgba(26, 13, 0, .8);
  margin-top: 32px;
}
h2{
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1px;
  color: rgb(26, 13, 0);
  text-align: right;
  margin-right: 270px;
  margin-top: -61px;

}
.ang-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  display: inline;

}
.thumbnail {
  display: inline;
  float: right;
  padding: 10px;
  margin: auto;
  opacity: 0.5;
  margin-right: 100px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.beer-captions {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

li {
  list-style: none;

}
.buttons {
  background-color: rgba(198, 140, 83, .5);
  display: inline;
  width: 160px;
  height: 30px;
  border: solid 1px rgb(0, 0, 0);
}
.input {
  background-color:  rgba(198, 140, 83, .5);
  width: 160px;
  height: 30px;
  border: solid 1px rgb(0, 0, 0);
  font-size: 12px;
  color: rgb(0, 0, 0);
}
}
.edit-form {
  padding-top: 50px;
}
.forms {

}
